<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="XmlPath" value="Xml_File"/>
    <add key="JsonPath" value="Json_File"/>
    <add key="TxtPath" value="Txt_File"/>
  </appSettings>
</configuration>